/* PRE SETUP */
*,
::before,
::after {
    padding: 0;
    margin: 0;

    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px (10px = 0.625rem)*/
}

body{
    font-family: 'Open Sans';
    color: black;
    font-weight: 400;
    line-height: 1.6;
}
/* END PRE SETUP */

/* MAIN GRID CONTAINER */
.container{
    display: grid;

    grid-template-columns: 1fr repeat(8, minmax(min-content, 15rem)) 1fr;
    grid-template-rows: 10vh 85vh 5vh 100vh 5vh min-content 10vh 40vh;
}

/* END MAIN GRID CONTAINER */

/* SECTION DESIGNER */
.creator{
    font-family: 'Major Mono Display', monospace;
    font-size: 0.7rem;
    
    text-transform: lowercase;

    grid-column-start: 1;
    grid-column-end: -1;

    display: grid;

    z-index: 7;
}

.designer__box{
    display: grid;

    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content max-content;

}

.designer__box-name{
    letter-spacing: 1rem;

    transform: translateY(1.5%);

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 3;

    writing-mode: sideways-rl;
    writing-mode: vertical-rl;
}

.designer__box-gmail{
    letter-spacing: 2rem;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
}
/* END DESIGNER */

/* SECTION HEADER */
.header{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)), url(../img_fox/header_background.jpg);
    z-index: 5;

    grid-column-start: 1;
    grid-column-end: -1;

    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;

    justify-content: center;
    align-content: center;

    font-family: 'Major Mono Display', monospace;
    color: black;
    text-transform: uppercase;
}

.header__title{
    transform: translateY(-10rem);

    display: grid;

    grid-template-columns: repeat(3, min-content);
    grid-row-gap: 1fr, repeat(3, min);

    grid-template-columns: max-content max-content;
    grid-template-rows: min-content min-content min-content;

}

.header__title--1{
    font-size: 10rem;
    font-weight: 100;

    letter-spacing: 3.5rem;
    line-height: 12rem;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

    transform: translateX(-0.5rem);

    animation-name: MoveToLeft;
    animation-duration: 2s;
    transition: ease-in;
}

.header__title--2{
    font-size: 10rem;
    font-weight: 100;

    letter-spacing: 0rem;
    line-height: 9rem;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;

    justify-self: start;

    transform: translateX(-0.5rem);

    animation-name: MoveToRight;
    animation-duration: 2s;
    transition: ease-in;
}

.header__email{
    font-size: 1.3rem;
    font-weight: 100;

    letter-spacing: 0.7rem;

    justify-self: stretch;
    align-self: end;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;

    transform: translateX(0.5rem);

    animation-name: MoveToUp;
    animation-duration: 2s;
    transition: ease-in;
}

.header__text{
    font-weight: 100;
    font-size: 2.5rem;

    letter-spacing: 0.2rem;

    writing-mode: sideways-lr;
    writing-mode: vertical-rl;

    justify-self: end;
    align-self: end;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 4;

    transform: translateX(1rem);

    backface-visibility: hidden;

    animation-name: MoveToDown;
    animation-duration: 2s;
    transition: ease-in;
}
/* END SECTION HEADER */

/* MOUSEARROW */
    .mousearrow{
        grid-column-start: 1;
        grid-column-end: -1;

        grid-row-start: 3;
        grid-row-end: 4;

        align-content: center;
        justify-content: center;

        font-family: 'Major Mono Display', monospace;
        font-size: 2.5rem;
        font-weight: 400;

        z-index: 10;

        display: grid;
    }


    .mousearrow--A{
        animation-delay: 2s;
        animation-name: rotateA;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    .mousearrow--A:hover{
        text-transform: lowercase;
        cursor: pointer;
    }
/* END MOUSEARROW */

/* SECTION ABOUT */
    .about{
        grid-column-start: 1;
        grid-column-end: -1;
    
        grid-row-start: 4;
        grid-row-end: 5;

        background-color: white;

        display: grid; /*nested grid*/

        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
    
        align-items: center;
    }
/* END SECTION HEADER */

/* SOAP TITLE */
.soap__box{
    font-family: 'Major Mono Display', monospace;
    
    text-transform: uppercase;

    grid-column-start: 1;
    grid-column-end: -1;

    background-image: url(../img_fox/soap_blue.jpg);
    background-size: 40%;
    background-position: right top;

    -webkit-background-clip: text;
    color: transparent;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;

    justify-content: center;

    z-index: 7;

    line-height: initial;

    margin-left: 4%;

}

.soap__box--1{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

    font-size: 1.5rem;
    text-transform: lowercase;
    letter-spacing: 2.3rem;

    transform: translateX(0.5rem) translateY(0.2rem);
    justify-self: start;

    grid-row-start: 1;
    grid-row-end: 2;
}

.soap__box--2{
    display: inline-block;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;

    font-size: 10rem;
    letter-spacing: 1rem;

    line-height: 8rem;
    justify-self: center;
    align-self: center;

    grid-row-start: 2;
    grid-row-end: 3;
}

.soap__box--bordertop{
    background-image: url(../img_fox/soap_blue.jpg);
    background-size: 100%;
    background-position: top right;

    grid-row-start: 1; grid-row-end: 2;
    border: none;
    height: 0.3rem;
    align-self: start;
}   

.soap__box--borderbot{
    background-image: url(../img_fox/soap_blue.jpg);
    background-size: 100%;
    background-position: 30% 140%;

    grid-row-start: 3; grid-row-end: 4; 
    grid-column-start: 3;
    border: none;
    height: 0.3rem;
    align-self: end;
}

.soap__box--3{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;

    font-size: 1.5rem;
    text-transform: lowercase;
    letter-spacing: 2rem;

    direction:rtl;
    transform: translateX(0rem);
    justify-self: end;

    grid-row-start: 3;
    grid-row-end: 4;
}
/* END SOAP TITLE */


/* SECTION SOAPS */
.soaps{
    background-color: rgba(255, 173, 217, 0);

    grid-column-start: 2;
    grid-column-end: -2;

    grid-row-start: 6;
    grid-row-end: 7;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-template-rows: auto;

    grid-column-gap: 6rem;
    grid-row-gap: 7rem;

    align-content: center;

    margin-right: 4%;
}

.soap{
    font-family: 'Major Mono Display', monospace;

    background-color: rgba(255, 210, 240, 0);

    display: grid;

    grid-template-columns: max-content 1fr;
    grid-template-rows: 0.2fr min-content min-content min-content;

    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

}

.soap__name{
    font-weight: 100;
    font-size: 3rem;

    grid-column-start: 2;
    grid-column-end: 3;


}

.soap__description{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1.6rem;

    grid-column-start: 2;
    grid-column-end: 3;
}

.soap__contactme{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;

    display: grid;

    align-items: center;

    grid-template-columns: 1fr max-content 1fr;

    grid-column-gap: 1rem;
}

.soap__contactme::before,
.soap__contactme::after{
    content: "";
    height: 1px;
    background-color: black;

    display: block;
}

.soap__contactme-btn{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;

    background-image: url(../img_fox/creation_left.jpg), url(../img_fox/creation_right.jpg);
    background-repeat: no-repeat;
    background-position: 260% 49%, -160% 49%;
    background-size: 165%, 165%;

    filter: grayscale(0);

    font-family: 'Major Mono Display', monospace;
    font-size: 1.2rem;
    font-weight: 100;
    color: black;
    text-transform: lowercase;

    outline: none;
    box-shadow: none;

    padding: 0.5rem 2rem;

    transition: all 1s ease-in-out;

    z-index: -1;
}

.soap__contactme-btn{
    content: "";
    background-color: white;
    z-index: 1;
}

.soap__contactme-btn:hover{
    transform: scale(1.1);
    background-image: url(../img_fox/creation_left.jpg), url(../img_fox/creation_right.jpg);
    background-repeat: no-repeat;
    background-position: 175% 49%, -79% 49%;
    background-size: 165%, 165%;

    cursor: pointer;

    border-color: transparent;
    color: transparent;

    outline: none;
    box-shadow: none;
}

.soap__contactme-btn:active{
    transform: scale(1.05);
    filter: grayscale(1);
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
}


.soap__img{
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;

    filter: grayscale(1);

    transition: all 1s ease-in-out;
}

.soap__img:hover{
    filter: grayscale(0);
}

.soap__leftline{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 5;

    display: grid;
    grid-template-rows: 1fr min-content 1fr;

    grid-row-gap: 1rem;
}

.soap__leftline--bordertop{
    grid-row-start: 1;
    grid-row-end: 3;

    border-right: 1px black solid;
    writing-mode: sideways-lr;

    transform: translateX(-20%);
}

.soap__leftline--borderbot{
    grid-row-start: 4;
    grid-row-end: 5;

    border-right: 1px black solid;
    writing-mode: sideways-lr;

    transform: translateX(-20%);
}

.soap__leftline--centertext{
    grid-row-start: 3;
    grid-row-end: 4;

    transform: translateX(20%);

    font-size: 1.7rem;
    writing-mode: sideways-lr;
    line-height: 4rem;

}
/* END SECTION SOAPS */

/* SECTION OPINION */
.opinion{
}
/* END SECTION OPINION */

/* SECTION FOOTER */
.footer{
    font-family: 'Major Mono Display', monospace;

    grid-column-start: 1;
    grid-column-end: -1;

    grid-row-start: 8;
    grid-row-end: 9;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    grid-row-gap: 2rem;

    justify-items: center;
    align-items: center;

    margin-right: 4%;
    margin-left: 4%;

}

.foot{
    line-height: 1;

    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content max-content;
}

.foot__nested{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;

    transform: scale(1, 0.8) translateY(0.2rem);
    background-color: black;

    display: grid;


    /*transform: translateY(0.3rem);*/
}

    /* CLOSER */

.foot__title--1{
    font-size: 6rem;
    align-self: end;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 3;
}

.foot__mail--1{
    font-size: 1.5rem;
    letter-spacing: 0.14rem;
    justify-self: end;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;
}

.foot__link--1, 
.foot__link--2{
    transform: scale(1, 2.7);

    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.foot__link--1{
    align-self: center;

    grid-row-start: 1;
    grid-row-end: 2;
}

.foot__link--2{
    letter-spacing: 0.13rem;
    align-self: center;

    grid-row-start: 2;
    grid-row-end: 3;
}

    /* DESIGNER */
.foot__title-des{
    font-size: 6rem;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 3;
}

.foot__mail-des{
    font-size: 1.5rem;
    letter-spacing: -0.1rem;
    justify-self: end;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;
}

.foot-link-des--1, 
.foot-link-des--2{
    transform: scale(1, 2.7);
    justify-self: start;

    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.foot-link-des--1{
    align-self: center;
    letter-spacing: 0.4rem;

    grid-row-start: 1;
    grid-row-end: 2;
}

.foot-link-des--2{
    align-self: center;
    letter-spacing: 0.02rem;

    grid-row-start: 2;
    grid-row-end: 3;
}

    /*TECHNOLOGIES*/

.foot__title-tech{
    font-size: 6rem;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 3;
}



.foot-link-tech--1, 
.foot-link-tech--2{
    font-size: 1.2rem;
    transform: scale(1, 2.7);
    justify-self: start;
    align-self: center;

    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.foot-link-tech--1{
    grid-row-start: 1;
    grid-row-end: 2;
}

.foot-link-tech--2{
    grid-row-start: 2;
    grid-row-end: 3;
}

.foot__nested-bot{
    transform: translateX(0.5rem);

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;

    display: grid;

    grid-template-columns: min-content min-content;
}

.foot-link-tech--3,
.foot-link-tech--4
{
    color: black;

    font-size: 1.5rem;
    text-decoration: none;
}

.foot-link-tech--3{
    justify-self: end;
    letter-spacing: 1.55rem;


    grid-column-start: 1;
    grid-column-end: 2;
}

.foot-link-tech--4{
    justify-self: start;
    letter-spacing: 0.7rem;

    grid-column-start: 2;
    grid-column-end: 3;

}

/* END SECTION FOOTER */

/* TYPOGRAPHY */
/* END TYPOGRAPHY */

/* BUTTON */
/* END BUTTONS */

/* ANIMATION */
@keyframes MoveToRight{
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }

    100%{
        opacity: 1;
        transform: translateX(-0.5rem);
    }
}

@keyframes MoveToLeft{
    0%{
        opacity: 0;
        transform: translateX(50%);
    }

    100%{
        opacity: 1;
        transform: translateX(-0.5);
    }
}

@keyframes MoveToUp{
    0%{
        opacity: 0;
        transform: translateY(80%);
    }

    100%{
        opacity: 1;
        transform: translateY(0) translateX(0.5rem);
    }
}

@keyframes MoveToDown{
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }

    100%{
        opacity: 1;
        transform: translateY(0) translateX(1rem);
    }
}

@keyframes rotateA{
    20%, 100%{
        opacity: 1;
        transform: rotate(360deg);
        transform-origin: center;
    }


    0%{
        opacity: 1;
    }

    10%{
        opacity: 1;
    }
}

@keyframes MoveToUpSection{
    0%{
        opacity: 0;
        transform: translateY(50%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
/* END ANIMATION */