/* PRE SETUP */
*,
::before,
::after {
    padding: 0;
    margin: 0;

    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px (10px = 0.625rem)*/
}

body{
    font-family: 'Open Sans';
    color: black;
    font-weight: 400;
    line-height: 1.6;
}
/* END PRE SETUP */

/* MAIN GRID CONTAINER */
.container{
    display: grid;

    grid-template-columns: 1fr repeat(8, minmax(min-content, 14rem)) 1fr;
    grid-template-rows: 100vh 100vh min-content;

    grid-row-gap: 5rem;
}

/* END MAIN GRID CONTAINER */

/* SECTION HEADER */
.header{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)), url(../img_fox/header_background.jpg);

    display: grid;

    grid-column-start: 1;
    grid-column-end: -1;

    justify-content: center;
    align-content: center;

    font-family: 'Monoton', cursive;
    color: black;
    text-transform: uppercase;
}

.header__title{
    transform: translateY(-5rem);

    display: grid;

    grid-template-columns: repeat(3, min-content);
    grid-row-gap: 1fr, repeat(3, min);

    grid-template-columns: max-content max-content;
    grid-template-rows: min-content min-content min-content;

    justify-items: center;
    align-items: center;
}

.header__title--1{
    font-size: 8rem;
    font-weight: 100;

    letter-spacing: 2.5rem;
    line-height: 10rem;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

    animation-name: MoveToRight;
    animation-duration: 2s;
    transition: ease-in;
}

.header__title--2{
    font-size: 8rem;
    font-weight: 100;

    letter-spacing: 1rem;
    line-height: 9rem;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;

    animation-name: MoveToLeft;
    animation-duration: 2s;
    transition: ease-in;
}

.header__email{
    font-size: 1.3rem;
    font-weight: 100;

    letter-spacing: 0.5rem;

    justify-self: start;
    align-self: end;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;

    animation-name: MoveToUp;
    animation-duration: 2s;
    transition: ease-in;
}

.header__text{
    font-weight: 100;
    font-size: 2.5rem;

    letter-spacing: 0.2rem;

    writing-mode: sideways-lr;
    writing-mode: vertical-rl;

    justify-self: start;
    align-self: end;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 4;

    animation-name: MoveToDown;
    animation-duration: 2s;
    transition: ease-in;
}
/* END SECTION HEADER */

/* SECTION ABOUT */
    .about{
        grid-column-start: 1;
        grid-column-end: -1;
    
        grid-row-start: 2;
        grid-row-end: 3;

        background-color: tomato;

        display: grid; /*nested grid*/

        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
    
        align-items: center;
    }
/* END SECTION HEADER */

/* SECTION SOAPS */
.soaps{
    background-color: rgba(255, 173, 217, 0);

    grid-column-start: 2;
    grid-column-end: -2;

    grid-row-start: 3;
    grid-row-end: 4;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: auto;

    grid-column-gap: 7rem;
    grid-row-gap: 7rem;


    align-content: center;
}

.soap{
    font-family: 'Stardos Stencil', regular;

    background-color: rgba(255, 210, 240, 0);

    display: grid;

    grid-template-columns: max-content 1fr;
    grid-template-rows: auto;

    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}

.soap__name{
    font-weight: 100;
    font-size: 3rem;

    grid-column-start: 2;
    grid-column-end: 3;

}

.soap__description{
    font-weight: 100;
    font-size: 1.6rem;

    grid-column-start: 2;
    grid-column-end: 3;
}

.soap__contactme{
    grid-column-start: 2;
    grid-column-end: 3;

    display: grid;

    align-items: center;

    grid-template-columns: 1fr max-content 1fr;

    grid-column-gap: 1rem;
}

.soap__contactme::before,
.soap__contactme::after{
    content: "";
    height: 1px;
    background-color: black;

    display: block;
}

.soap__contactme-btn{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;

    background-image: url(../img_fox/creation_left.jpg), url(../img_fox/creation_right.jpg);
    background-repeat: no-repeat;
    background-position: 260% 49%, -160% 49%;
    background-size: 165%, 165%;

    filter: grayscale(0);

    font-family: 'Stardos Stencil', regular;
    font-size: 1.2rem;
    color: black;
    text-transform: uppercase;

    outline: none;
    box-shadow: none;

    padding: 0.5rem 2rem;

    transition: all 1s ease-in-out;

    z-index: -1;
}

.soap__contactme-btn{
    content: "";
    background-color: white;
    z-index: 1;
}

.soap__contactme-btn:hover{
    transform: scale(1.1);
    background-image: url(../img_fox/creation_left.jpg), url(../img_fox/creation_right.jpg);
    background-repeat: no-repeat;
    background-position: 175% 49%, -79% 49%;
    background-size: 165%, 165%;

    border-color: transparent;
    color: transparent;

    outline: none;
    box-shadow: none;
}

.soap__contactme-btn:active{
    transform: scale(1.05);
    filter: grayscale(1);
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
}


.soap__img{
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;

    filter: grayscale(1);

    transition: all 1s ease-in-out;
}

.soap__img:hover{
    filter: grayscale(0);
}

.soap__leftline{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 5;

    display: grid;
    grid-template-rows: 1fr min-content 1fr;

    grid-row-gap: 1rem;
}

.soap__leftline--bordertop{
    grid-row-start: 1;
    grid-row-end: 2;

    border-right: 1px black solid;
    writing-mode: sideways-lr;

    transform: translateX(-50%);
}

.soap__leftline--borderbot{
    grid-row-start: 3;
    grid-row-end: 4;

    border-right: 1px black solid;
    writing-mode: sideways-lr;

    transform: translateX(-50%);
}

.soap__leftline--centertext{
    font-size: 1.7rem;
    writing-mode: sideways-lr;
    line-height: 4rem;

}
/* END SECTION SOAPS */

/* SECTION OPINION */
.opinion{
}
/* END SECTION OPINION */

/* SECTION FOOTER */
.footer{
}
/* END SECTION FOOTER */

/* TYPOGRAPHY */
/* END TYPOGRAPHY */

/* BUTTON */
/* END BUTTONS */

/* ANIMATION */
@keyframes MoveToRight{
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes MoveToLeft{
    0%{
        opacity: 0;
        transform: translateX(50%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes MoveToUp{
    0%{
        opacity: 0;
        transform: translateY(80%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes MoveToDown{
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
/* END ANIMATION */