*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*padding and margin no longer added for measurements*/
}

body{
    font-family: 'Open Sans', ;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: rgb(48, 48, 48);
    padding: 0px;

}

/* HEADER ________________________________*/

.header{
    position: relative;

    height: 100vh;
    background-image: linear-gradient(to right, rgba(207, 183, 255, 0.2), rgba(51, 100, 141, 0.2)), url(../images/main_background.jpg);
    background-size: cover;
    background-position: top;

}

.text-box{
    position: absolute;

    top: 45%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.heading-primary{
    font-family: 'Fredericka the Great' ;


    color: rgba(255, 255, 255, 0.87);
    text-transform: uppercase;
    line-height: 1.2;

    transition: all 2s;
}


.heading-primary-main{
    display: block;

    font-size: 70px;
    font-weight: 100;
    letter-spacing: 16px;

    animation-name: MoveToRight;
    animation-duration: 2s;
    transition: ease-in;
}

.heading-primary-sub{
    display: block;

    font-size: 60px;
    font-weight: 100;
    letter-spacing: 11px;

    animation-name: MoveToLeft;
    animation-duration: 2s;
}

.heading-primary-email{
    display: block;

    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1.2px;

    animation-name: MoveToTop;
    animation-duration: 3s;
}

.creator-box{
    position: absolute;

    top: 45.8%;
    left: 42%;

    transform: translate(-50%, -50%);
}

.heading-creator{
    font-family: 'Fredericka the Great' ;
    color: white;
    transform: rotate(-90deg);
    text-transform: uppercase;

}

.heading-creator-email{
    display: inline-block;

    font-weight: 400;
    font-size: 18px;

    letter-spacing: 3px;

    animation-name: MoveToLeft;
    animation-duration: 3s;
}

.mouse-box{
    position: absolute;
    top: 95%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.mouse-img{
    height: 27px;
    width: 30px;
    display: block;

    margin-bottom: 5px;
}

.arrow{
    display: block;
    height: 13px;
    width: 30px;
    padding: 0;

    margin-bottom: 50%;
}

ion-icon{
    color: white;
}

.arrow-icon{
    display: inline-block;
    color: white;
    transition: all 2s;
}

.arrow-icon:hover{
    margin-left: 50%;
}
/* END HEADER ________________________________*/

/* SECTION ABOUT ________________________________*/
    .section-about{
        background-color: rgba(255, 225, 255, 0.664);
        padding: 5rem 0;
        height: 100vh;
    }

    .u-center-text{text-align: center;}
    .u-margin-8{margin-bottom: 8rem;}

    .heading-secondary{

        display: inline-block;

        font-size: 50px;
        text-transform: uppercase;
        font-weight: 700;

        letter-spacing: 3px;

        color: rgba(0, 0, 0, 0);

        background-image: linear-gradient(to right, rgba(207, 183, 255, 0), rgba(51, 101, 141, 0)), url(../images/blue_soap.jpg);
        background-size: cover;
        background-position: 1px 500px;

        -webkit-background-clip: text;

        transition: all 0.4s ease-in-out;
    }

    .heading-secondary:hover{
        letter-spacing: 7px;
    }


    .heading-tertiary{
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .paragraph{
        font-size: 1.1rem;
    }

    .paragraph:not(.paragraph:last-child){
        margin-bottom: 3rem;
    }

/* END SECTION ABOUT ________________________________*/


/* ANIMATIONS ________________________________*/
@keyframes MoveToRight{
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes MoveToLeft{
    0%{
        opacity: 0;
        transform: translateX(50%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes MoveToTop{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes MoveToBottom{
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
/* END ANIMATIONS ________________________________*/



/* GRID _________________ */
.grid-section-about{
    display: grid;
    height: 100%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1fr;

    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.grid-item{
    font-size: 13px;
    color: black;
}

.grid-item--1{

}

.grid-item--2{

}

.grid-item--3{
    grid-column-start: 2;
    grid-column-end: 3;
}

/* END GRID ______________ */
