/* PRESETUP_________________________________ */
*,
::before,
::after {
    padding: 0;
    margin: 0;

    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px (10px = 0.625rem)*/
}

body{
    font-family: 'Open Sans';
    color: black;
    font-weight: 400;
    line-height: 1.6;
}
/* END PRESETUP_________________________________  */

/* MAIN CONTAINER GRID__________________________ */
.container{
    display: grid;

    grid-template-rows: 80vh min-content 40vw min-content min-content min-content;
    grid-template-columns: 8rem 1fr repeat(8, minmax(min-content, 14rem)) 1fr;
}

/*
.container>*{
    padding: 40px;
    font-size: 3rem;
}
*/

/* END MAIN CONTAINER GRID__________________________ */

/* SECTION SIDEBAR____________________________ */
.sidebar{
    background-color: violet;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: -1;
}
/*END SECTION SIDEBAR____________________________ */

/* SECTION HEADER _____________________________ */
.header{
    background-color: tomato;

    grid-column-start: 2;
    grid-column-end: 9;
}
/* END SECTION HEADER________________________ */

/* SECTION RELATORS ____________________________ */
.relators{
    background-color: chocolate;

    grid-column-start: 9;
    grid-column-end: -1;
}
/* END SECTION RELATORS ____________________________ */

/* SECTION FEATURES ____________________________ */
.features{
    margin: 15rem 0;

    grid-column-start: 3;
    grid-column-end: -2;

    /* grid in grid */
    display: grid;
    
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: auto auto;

    grid-column-gap: 2.5rem;
    grid-row-gap: 1.5rem;

    align-items: start;
}

.feature {
    display: grid;

    grid-template-columns: min-content 1fr;
    grid-template-rows: auto auto;

    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.feature__icon{
    fill: peru;
    width: 4.5rem;
    height: 4.5rem;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 3;
}

.feature__text{
    font-size: 1.7rem;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;

    align-self: flex-start;
}

.feature_test{
    font-size: 1.7rem;
    writing-mode:sideways-lr;

    transform: translateX(2rem);

    align-self: center;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;
}

.test{
    text-transform: uppercase;
}
/* END SECTION FEATURES ____________________________ */

/* SECTION STORY ____________________________ */
.story{
    background-color: turquoise;
    
    padding-top: 6rem;
    padding-bottom: 6rem;

    padding-left: 12rem;
    padding-right: 12rem;
}

.story__pictures{
    background-color: lightcoral;

    grid-column-start: 2;
    grid-column-end: 7;
}

.story__content{
    background-color: mistyrose;

    grid-column-start: 7;
    grid-column-end: -1;
}
/* END SECTION STORY ____________________________ */

/* SECTION HOMES ____________________________ */
.homes{
    background-color: lightseagreen;

    grid-column-start: 3;
    grid-column-end: -2;
}
/* END SECTION HOMES ____________________________ */

/* SECTION GALLERY____________________________ */
.gallery{
    background-color: wheat;

    grid-column-start: 2;
    grid-column-end: -1;
}
/* END SECTION GALLERY____________________________ */

/* SECTION FOOTER____________________________ */
.footer{
    background-color: yellowgreen;

    grid-column-start: 2;
    grid-column-end: -1;
}
/* END SECTION FOOTER____________________________ */


/* TYPOGRAPHY ___________________________*/
.heading-1{
    font-family: 'Caladea', serif;
    font-weight: 400;
}

.heading-2{
    font-family: 'Caladea', serif;
    font-weight: 400;
    font-size: 4rem;

    line-height: 1;
}

.heading-3{
    font-family: 'Caladea', serif;
    font-weight: 400;
    font-size: 1.6rem;

    text-transform: uppercase;
}

.heading-4{
    font-family: 'Caladea', serif;
    font-weight: 400;
    font-size: 1.9rem;
}

    /* TYPO COLOR VARIANTS */

    .heading-2--light{
        color: rgb(51, 51, 51);
    }

    .heading-2--dark{
        color: black;
    }

    .heading-4--light{
        color: rgb(51, 51, 51);
    }

    .heading-4--dark{
        color: black;
    }
    /* END TYPO COLOR VARIANT*/

    /* BUTTONS */
    .btn-nexter{
        background-color: cornflowerblue;

        border: none;
        border-radius: 0;

        padding: 1.8rem 3rem;

        font-family: 'Caladea', serif;
        font-size: 1.5rem;
        
        color: black;
        text-transform: uppercase;

        cursor: pointer;
    }
    /* END BUTTONS */

/* END TYPOGRAPHY ___________________________ */