/* PRESETUP_________________________________ */
*,
::before,
::after {
    padding: 0;
    margin: 0;

    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px (10px = 0.625rem)*/
}

body{
    font-family: 'Open Sans';
    color: black;
    font-weight: 400;
    line-height: 1.6;
}
/* END PRESETUP_________________________________  */

/* MAIN CONTAINER GRID__________________________ */
.container{
    display: grid;

    grid-template-rows: 80vh min-content 40vw min-content min-content min-content;
    grid-template-columns: 8rem 1fr repeat(8, minmax(min-content, 14rem)) 1fr;
}

/*
.container>*{
    padding: 40px;
    font-size: 3rem;
}
*/

/* END MAIN CONTAINER GRID__________________________ */

/* SECTION SIDEBAR____________________________ */
.sidebar{
    background-color: violet;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: -1;
}
/*END SECTION SIDEBAR____________________________ */

/* SECTION HEADER _____________________________ */
.header{
    background-color: tomato;

    grid-column-start: 2;
    grid-column-end: 9;
}
/* END SECTION HEADER________________________ */

/* SECTION RELATORS ____________________________ */
.relators{
    background-color: chocolate;

    grid-column-start: 9;
    grid-column-end: -1;
}
/* END SECTION RELATORS ____________________________ */

/* SECTION FEATURES ____________________________ */
.features{
    margin: 15rem 0;

    grid-column-start: 3;
    grid-column-end: -2;

    /* nested grid */
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: auto auto;

    grid-gap: 6rem;

    align-items: start;
}

.feature{
    display: grid;

    grid-template-columns: min-content 1fr;
    grid-template-rows: auto auto;

    grid-column-gap: 1.5rem;
    grid-row-gap: 2.5rem;
}

.feature__icon{
    fill: black;

    width: 4.5rem;
    height: 4.5rem;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 3;

    transform: translateY(-1rem);
}
/* END SECTION FEATURES ____________________________ */

/* SECTION STORY ____________________________ */

.story__pictures{
    background-image: linear-gradient(rgba(255, 192, 203, 0.7), rgba(255, 91, 118, 0.582)), url(../img_nexter/back.jpg);

    grid-column-start: 2;
    grid-column-end: 7;

    display: grid; /*nested grid*/

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

    align-items: center;
}

.story__img--1{
    width: 100%;

    grid-column-start: 2;
    grid-column-end: 6;

    grid-row-start: 2;
    grid-row-end: 6;

    box-shadow: 0 2rem 5rem black;
}

.story__img--2{
    width: 115%;

    grid-column-start: 4;
    grid-column-end: 7;

    grid-row-start: 4;
    grid-row-end: 6;
    
    z-index: 20;

    box-shadow: 0 2rem 5rem black;
}

.story__content{
    background-color: mistyrose;

    grid-column-start: 7;
    grid-column-end: -1;

    padding: 6rem 8vw; /* top bottom - left right */

    display: grid;

    grid-template-columns: 1fr;

    align-content: center;
    justify-items: start;

    /*
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: flex-start;
    */
}

.story__title{
    grid-column-start: 1;
    grid-column-end: 2;
}

.story__desc{
    grid-column-start: 1;
    grid-column-end: 2;
}

.story__text{
    font-size: 1.5rem;
    font-style: italic;

    grid-column-start: 1;
    grid-column-end: 2;
}
/* END SECTION STORY ____________________________ */

/* SECTION HOMES ____________________________ */
.homes{
    background-color: rgb(200, 170, 255);

    margin: 15rem 0;

    grid-column-start: 3;
    grid-column-end: -2;

    display: grid; /* nested grid */

    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: auto auto;

    grid-column-gap: 7rem;
    grid-row-gap: 7rem;

    align-content: center;
}

.home{
    background-color: rgb(255, 210, 240);

    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;

    grid-row-gap: 3.5rem;
}

.home__img{
    width: 100%;

    z-index: 2;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

    justify-self: end;

}

.home__like{
    fill: black;
    height: 2.5rem;
    width: 2.5rem;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

    margin: 1rem;

}

.heading__home_name{
    font-family: sans-serif;
    font-size: 1.6rem;
    font-weight: 400;

    width: 80%;

    justify-self: center; /* works horizontally */
    align-self: end; /* works vertically */
    text-align: center;

    padding: 1.25rem;
    background-color: blue;

    transform: translateY(50%); /* 50% of item slef height */

    z-index: 2;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
}

.home__location, .home__rooms{
    margin-top: 2.5rem;
}

.home__location, .home__rooms, 
.home__area, .home__price{
    font-size: 1.5rem;
    margin-left: 2rem;

    display: flex;
    align-items: center;
}

.home__svg{
    fill: black;
    height: 2rem;
    width: 2rem;

    margin-right: 1rem;
}

.btn__home{
    grid-column-start: 1;
    grid-column-end: 3;
}

.home__button{
    grid-column-start: 1;
    grid-column-end: 3;
}
/* END SECTION HOMES ____________________________ */

/* SECTION GALLERY____________________________ */
.gallery{
    background-color: wheat;

    grid-column-start: 2;
    grid-column-end: -1;

    display: grid; /* nested grid */

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);

    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;

    padding: 1.5rem;
}

.gallery__item{

}

.gallery_img{
    display: block;

    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery__item--1{
    grid-column-start: 1; grid-column-end: 3;
    grid-row-start: 1; grid-row-end: 3;
}

.gallery__item--2{
    grid-column-start: 3; grid-column-end: 6;
    grid-row-start: 1; grid-row-end: 4;
}

.gallery__item--3{
    grid-column-start: 6; grid-column-end: 7;
    grid-row-start: 1; grid-row-end: 3;
}

.gallery__item--4{
    grid-column-start: 7; grid-column-end: 9;
    grid-row-start: 1; grid-row-end: 3;
}

.gallery__item--5{
    grid-column-start: 1; grid-column-end: 3;
    grid-row-start: 3; grid-row-end: 6;
}

.gallery__item--6{
    grid-column-start: 3; grid-column-end: 5;
    grid-row-start: 4; grid-row-end: 6;
}

.gallery__item--7{
    grid-column-start: 5; grid-column-end: 6;
    grid-row-start: 4; grid-row-end: 5;
}

.gallery__item--8{
    grid-column-start: 6; grid-column-end: 8;
    grid-row-start: 3; grid-row-end: 5;
}

.gallery__item--9{
    grid-column-start: 8; grid-column-end: 9;
    grid-row-start: 3; grid-row-end: 6;
}

.gallery__item--10{
    grid-column-start: 1;grid-column-end: 2;
    grid-row-start: 6; grid-row-end: 8;
}

.gallery__item--11{
    grid-column-start: 2; grid-column-end: 4;
    grid-row-start: 6; grid-row-end: 8;
}

.gallery__item--12{
    grid-column-start: 4; grid-column-end: 5;
    grid-row-start: 6; grid-row-end: 8;
}

.gallery__item--13{
    grid-column-start: 5; grid-column-end: 8;
    grid-row-start: 5; grid-row-end: 8;
}

.gallery__item--14{
    grid-column-start: 8; grid-column-end: 9;
    grid-row-start: 6; grid-row-end: 8;
}
/* END SECTION GALLERY____________________________ */

/* SECTION FOOTER____________________________ */
.footer{
    background-color: rgb(227, 225, 255);
    padding: 8rem;

    grid-column-start: 2;
    grid-column-end: -1;


}

.nav__footer{
    list-style: none;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    justify-items: center;
    align-items: center;
}

.nav__link{
    display: block;

    padding: 1.5rem;

    font-family: sans-serif;
    font-size: 1.4rem;

    color: cornsilk;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    background-color: rgba(26, 5, 44, 0.5);
}

.footer__copyright{
    width: 70%;

    font-family: sans-serif;
    font-size: 1.4rem;

    color: rgb(30, 0, 65);

    text-align: center;

    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
}
/* END SECTION FOOTER____________________________ */

/* TYPOGRAPHY */
    .heading-1{
        font-family: 'Caladea', serif;
        font-weight: 400;
    }

    .heading-2{
        font-family: 'Caladea', serif;
        font-weight: 400;
        font-size: 4rem;

        line-height: 1;
    }

    .heading-3{
        font-family: 'Caladea', serif;
        font-weight: 400;
        font-size: 1.6rem;

        color: black;

        text-transform: uppercase;
    }

    .heading-4{
        font-family: 'Caladea', serif;
        font-weight: 400;
        font-size: 1.9rem;
    }

    /* COLOR VARIANTS */
    .heading--dark{
        color: black;
    }
 
    .heading--light{
        color: rgb(41, 41, 41);
    }
    /* COLOR VARIANTS END */
/* END TYPOGRAPHY */

/* BUTTONS */
.btn-nexter{
    padding: 1.8rem 3rem;  /* top bottom - left right */

    border: none;
    border-radius: 0;

    background-color: indigo;

    font-family: 'Caladea', serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: beige;

    cursor: pointer;
}
/* END BUTTONS */

/* MARGIN BOTTOM */
.mb-sm{margin-bottom: 2rem;}
.mb-md{margin-bottom: 3rem;}
.mb-lg{margin-bottom: 4rem;}
.mb-hg{margin-bottom: 8rem;}
/* END MARGIN BOTTOM */
