/* VARIABLES */
:root{
    --color-primary-dark: rgb(255, 74, 104);
    --color-primary-light: rgb(255, 198, 208);
    --color-primary: rgb(255, 71, 101);

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
}
/* END VARIABLES */

/* PRE */
*{
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

html{
    box-sizing: border-box;

    font-size: 62.5%;
}

body{
    min-height: 100vh;

    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    line-height: 1.6;

    color: var(--color-grey-dark-2);

    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
}
/* END PRE */

/* CONTAINER */
.container{
    max-width: 120rem; /* if view port is less than 120rem then occupy 100% of view port */
    min-height: 50rem;
    
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);


}
/* END CONTAINER */


/* HEADER */
.header{
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);

    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;
}
/* END HEADER */

/* CONETNET */
.content{
    display: flex;
}
/* END CONTENT */

/* SIDEBAR */
.sidebar{
    background-color: var(--color-grey-dark-1);
    flex-grow: 0; /* defines how much element will grow compare to others  */
    flex-shrink: 0; /* defines how much elemnt will shrink compare to others */
    flex-basis: 18%; /* how big to others element is */

    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
}

.side-nav{
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
}

.side-nav__item{
}

.side-nav__link{
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;

    display: flex;
    align-items: center;
}

.side-nav__link:link,
.side-nav:visited{
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
}

.side-nav__icon{
    width: 1.75rem;
    height: 1.75rem;

    margin-right: 2rem;
    fill: currentColor; /*color of the parrent element*/
}
/* END SIDEBAR */

/* HOTEL-VIEW */
.hotel-view{
    background-color: #fff;
    background-color: orangered; /*test*/

    height: 80rem; /*test*/

    flex-grow: 1;
}
/* END HOTEL VIEW */



/* COMPONENTS */
/* LOGO */
.logo{
    height: 2rem;
    margin-left: 3rem;
}
/* END LOGO */

/* SEARCH */
.search{
    background-color: transparent;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40%; 

    display: flex;

    justify-content: center;
    align-items: center;
}

.search__input{
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100px;

    padding: .7rem .7rem; /* top-bottom left-right */
    margin-right: -3.25rem;
    width: 90%;

    transition: all .2s;
}

.search__input:focus{
    outline: none;
    background-color: var(--color-grey-light-3);
    width: 100%;
}

.search__button{
 border: none;
 background-color: var(--color-grey-light-2);
}

.search__button:focus{
    outline: none;
    background-color: var(--color-grey-light-3);
}

.search__button:active{
    transform: translateY(2px);
}

.search__icon{
    height: 2rem;
    width: 2rem;

    fill: var(--color-grey-light-3);
}
/* END SEARCH */

/* USER NAVIGATION */
.user-nav{
    background-color: transparent;
    align-self: stretch;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-nav > * {
    height: 100%;
    padding: 0 2rem;
    cursor: pointer;

    transition: all .2s;
}

.user-nav > *:hover{
    background-color: var(--color-grey-light-2);
}

.user-nav__icon-box{
    display: flex;
    align-items: center;
    position: relative;    

}

.user-nav__icon{
    height: 2.25rem;
    width: 2.25rem;

    fill: var(--color-grey-dark-2);
}

.user-nav__notification{
    height: 1.75rem;    
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;

    font-size: .8rem;

    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.user-nav__user{

}

.user-nav__user-photo{
    height: 3.75rem;
    border-radius: 50%;

    margin-right: 1rem;
}

.user-nav__user-name{

}
/* END USER NAVIGATION */
/* END COMPONENTS */

/* LEGAL */
.legal{
    padding: 2.5rem;
    
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
}
/* END LEGAL */
